@mixin flexCenter {
  justify-content: center;
  align-items: center;
}

.container {
  width: fit-content;
  height: fit-content;
  .tooltip-wrap {
    position: relative;
    & > .message {
      display: none;
      transition: 0.3s;
      position: absolute;
      width: 100%;
      font-size: 14px;
      background-color: #000;
      color: #fff;
      padding: 5px;
      border-radius: 5px;
      @include flexCenter();
      &.TL,
      &.T,
      &.TR {
        top: calc(-200% - 5px);
      }
      &.LT {
        top: 0;
        left: calc(-100% - 5px);
      }
      &.L {
        top: calc(-50%);
        left: calc(-100% - 5px);
      }
      &.LB {
        bottom: 0;
        left: calc(-100% - 5px);
      }
      &.RT {
        top: 0;
        right: calc(-100% - 5px);
      }
      &.R {
        top: calc(-50%);
        right: calc(-100% - 5px);
      }
      &.RB {
        bottom: 0;
        right: calc(-100% - 5px);
      }
      &.BL,
      &.B,
      &.BR {
        bottom: calc(-200% - 5px);
      }
      &.active {
        display: flex;
      }
      &::before {
        display: block;
        transition: 0.3s;
        position: absolute;
        content: "";
      }
      &.TL::before,
      &.T::before,
      &.TR::before {
        top: 100%;
        border-top: 5px solid #000;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid transparent;
      }
      &.TL::before {
        left: 5%;
      }
      &.T::before {
        left: 50%;
        transform: translateX(-50%);
      }
      &.TR::before {
        right: 5%;
      }
      &.LT::before,
      &.L::before,
      &.LB::before {
        right: 0;
        transform: translateX(100%);
        border-top: 5px solid transparent;
        border-left: 5px solid #000;
        border-right: 5px solid transparent;
        border-bottom: 5px solid transparent;
      }
      &.LT::before {
        top: 8%;
      }
      &.L::before {
        top: 50%;
        transform: translate(100%, -50%);
      }
      &.LB::before {
        bottom: 8%;
      }
      &.RT::before,
      &.R::before,
      &.RB::before {
        left: 0;
        transform: translateX(-100%);
        border-top: 5px solid transparent;
        border-left: 5px solid transparent;
        border-right: 5px solid #000;
        border-bottom: 5px solid transparent;
      }
      &.RT::before {
        top: 8%;
      }
      &.R::before {
        top: 50%;
        transform: translate(-100%, -50%);
      }
      &.RB::before {
        bottom: 8%;
      }
      &.BL::before,
      &.B::before,
      &.BR::before {
        top: 0;
        transform: translateY(-100%);
        border-top: 5px solid transparent;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #000;
      }
      &.BL::before {
        left: 5%;
      }
      &.B::before {
        left: 50%;
        transform: translate(-50%, -100%);
      }
      &.BR::before {
        right: 5%;
      }
    }
  }
}
