.tooltip-section {
  display: flex;
  & > .section,
  & > .overflow-section {
    height: 300px;
    margin: 80px;
    margin-left: 150px;
    & > .vertical-section {
      display: flex;
      width: 510px;
      justify-content: space-between;
      & > .left-section,
      & > .right-section {
        display: flex;
        flex-direction: column;
        height: 80px;
        justify-content: space-between;
      }
    }
    & > .top-section,
    & > .bottom-section {
      display: flex;
      width: 310px;
      justify-content: space-between;
      margin-left: 100px;
    }
  }

  .button {
    background-color: cadetblue;
    border: none;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
  }

  & > .overflow-section {
    margin-left: 0;
    width: 400px;
    height: 100px;
    overflow-x: scroll;
    overflow-y: scroll;
  }
}
